# https://github.com/stylelint/stylelint/blob/master/docs/user-guide/rules.md
# https://github.com/stylelint/stylelint-config-standard/blob/master/index.js

extends: stylelint-config-standard
ignoreFiles: "**/*.min.css"

rules:
  comment-empty-line-before: null
  hue-degree-notation: number
  rule-empty-line-before: null
  selector-class-pattern: null
